footer#footer.footer
  .footer-nav
    .container
      .menu-footer_menu-container
      // end .container
    // end .footer-nav
  .copyright
    .container Habakiri theme by モンキーレンチ Powered by WordPress
    // end .container
  // end .copyright
// end #footer
